<link rel="stylesheet" href="/css/sidebar.css">

<aside class="sidebar">
  <div class="sidebar-header">
    <h3>PlateMate</h3>
  </div>
  <nav class="sidebar-nav">
    <a href="/" class="sidebar-link"> <img src="/images/home.svg" alt="Home" class="icon"> Home</a>
    <a href="/recipes" class="sidebar-link"><img src="/images/explore.svg" alt="Explore" class="icon">Explore</a>
    <a href="/user/recipes" class="sidebar-link"> <img src="/images/food.svg" alt="My Recipes" class="icon">My Recipes</a>
    <a href="/recipes/create" class="sidebar-link create-btn"> <img src="/images/create.svg" alt="Create Recipe" class="icon">Create Recipe</a>

  </nav>
</aside>
